---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'hero';
@import 'puff';
@import 'reset';
@import 'section';
@import 'header';
@import 'languages';

@import 'sign-up';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $c-primary--dark;
}

a {
  color: $c-primary;
  text-decoration: none;
}

.bolder{
  font-weight: 800;
}

h1 {
  font-size: 44px;
  line-height: ($base-line-height - 0.3);
  padding-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}





