---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'article';
@import 'hero';
@import 'puff';
@import 'reset';
@import 'section';
@import 'header';
@import 'languages';

@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $c-primary--dark;
}
// Allow document to scroll
html { overflow: auto }

// Render document and body
// as table elements to force
// filling of height
html, body {
  display: table;
  height: 100%;
  width: 100%;
}
.content{
  display: table;
  height: 100%;
  width: 100%;
}

a {
  color: $c-primary;
  text-decoration: none;
}

.bolder{
  font-weight: 800;
}

.bold {
  font-weight: 600;
}

h1 {
  font-size: 44px;
  line-height: ($base-line-height - 0.3);
  padding-bottom: 12px;

  @include small {
    font-size: 24px;
    line-height: ($base-line-height - 0.1);
    padding-bottom: 8px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 600;

  @include small {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;

  @include small {
    font-size: 14px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 700;

  @include small {
    font-size: 12px;
  }
}





