@import 'variables';

.hero__tagline {
  color: $c-secondary;
  padding-bottom: 60px;

  @include small {
    padding-bottom: 30px;
  }
}

.hero__info {
  color: $c-secondary;

  h1 {
    margin-bottom: 24px;

    @include small {
      margin-bottom: 2px;
    }
  }

  .hero__phone {
    float: left;
    margin-bottom: 22px;

    .phone-icon {
      display: block;
      width: 75px;
      height: 75px;
      background: $c-secondary url('../images/phone.png') no-repeat;
      background-size: 50%;
      background-position: center center;
      float: left;
      margin-right: 20px;

      @include small {
        width: 57px;
        height: 57px;
      }
    }
    .phone-number {
      float: left;

      h1 {
        font-weight: 800;
        line-height: 0.7;
        margin-bottom: 6px;
      }

      .flag-list {
        display: inline-block;
        background-color: rgba($c-secondary, 0.3);
        border-radius: 2px;
        padding: 3px 0px 3px 5px;
        li {
          float: left;
        }

        .flag {
          height: 22px;
          width: 22px;
        }
      }
    }
  }

}

.opening {
  clear: both;
  table {
    .days {
      font-size: 14px;

      td {
        padding-right: 22px;
      }
    }

    .hours {
      font-size: 18px;
      font-weight: 600;

      td {
        padding-right: 22px;
      }
    }
  }

}






