.flag-list{
  display: flex;
  flex-wrap: wrap;

  li {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.flag {
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  display: block;
  background-size: 100% auto;
  margin-right: 5px;
  opacity: 0.5;

  @include small {
    height: 30px;
    width: 30px;
  }

  &.active {
    opacity: 1;
  }
}
//flags
.inline-flag {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: 23px auto;
}
.flag--eng {
  background-image: url('../images/flags/united-kingdom.png');
}

.flag--som {
  background-image: url('../images/flags/somalia.png');
}

.flag--swe {
  background-image: url('../images/flags/sweden.png');
}

.flag--ukr {
  background-image: url('../images/flags/ukraine.png');
}

.flag--fin {
  background-image: url('../images/flags/finland.png');
}

.flag--tur {
  background-image: url('../images/flags/turkey.png');
}

.flag--rys {
  background-image: url('../images/flags/russia.png');
}

.flag--pol {
  background-image: url('../images/flags/poland.png');
}

.flag--iran {
  background-image: url('../images/flags/iran.png');
}

.flag--iraq {
  background-image: url('../images/flags/iraq.png');
}

.flag--eri {
  background-image: url('../images/flags/eritrea.png');
}

.flag--kur {
  background-image: url('../images/flags/kurdistan.png');
}




