@import 'variables';

.puff {
  border-radius: 5px;
  margin-bottom: 50px;

  @include small {
    margin-bottom: 20px;
  }

  a {
    display: block;
    padding: 20px 35px 35px 35px;
    border: 5px solid rgba(#4D1120, 0.04);
    border-radius: 6px;

    @include small {
      padding: 10px 15px 15px 15px;
    }

    &:hover {
      border: 5px solid $c-primary;
    }
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 0px;
    color: $c-primary;
    line-height: 1.2em;
  }

  p {
    color: $c-primary--dark;
  }

}


.puff__info {
  margin-left: 80px;
  align-self: flex-start;

  @include small {
    margin-left: 0;
  }
}
