@import 'variables';

.puff {
  padding: 40px

  h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $c-primary;

  }

  p {
    color: $c-primary--dark;
  }


}


.puff__info {
  margin-left: 80px;
  align-self: flex-start;

  @include small {
    margin-left: 0;
  }
}
