@import 'variables';

.puff {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @include small {
    flex-direction: column;
  }
}

.puff__image {
  max-width: 350px;
  flex: none;
  align-items: center;

  img {
    width: 100%;
  }
}

.puff__info {
  margin-left: 80px;
  align-self: flex-start;

  @include small {
    margin-left: 0;
  }
}
