@import 'variables';

.section {
  &--nav {

    .section--inner {
      padding: 10px;
    }
  }

  &--hero {

    .section--inner {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
    }
  }

  &--puff {
    padding: 30px;

    .section--inner {
      text-align: center;
      padding-top: 30px;
    }

    @include small {

    }
  }
  &--news {
    padding: 30px;

    .section--inner {
      ext-align: center;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
    }

    @include small {

    }
  }

  &--footer {
    background: $c-primary;
    padding: 10px;
    font-weight: 400;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .section--inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.section--inner {
  display: flex;
  //max-width: $site-width;
  margin: 0 auto;

  @include small {
    padding: 10px;
  }
}