@import 'variables';

header {
  display: flex;
  justify-content: space-between;
}
.section {
  &--nav {
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    padding: 10px 50px;
  }
  &--languages {
    padding: 0px 50px;
  }


  &--hero {
    width: 80%;
    padding: 20px 50px;

    .section--inner {
      background-color: $c-primary;
      border-radius: 6px;
      padding: 60px 80px 60px 80px;
      flex-direction: column;
      justify-content: center;
    }
  }
  &--info {
    max-width: 690px;
    padding: 10px 50px 200px;

    .section--inner {
      flex-direction: column;
      justify-content: center;
      padding: 0px 80px;
      color: $c-primary--dark;

      p {
        margin-bottom: 28px;
      }
    }
  }

  &--two-column {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

    .section--inner {
      width: 50%;
      flex-direction: column;
      margin: 0px 50px;

    &.news {
        padding: 52px 70px;
        background: rgba(#4D1120, 0.04);

        h3 {
          margin-bottom: 20px;
        }

        .headline {
          display: block;
          border-bottom: 5px solid $c-primary;
          padding-bottom: 5px;
          margin-bottom: 15px;
        }

        .postdate {
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }

    }


  }



  &--puff {
    padding: 30px;

    .section--inner {
      text-align: center;
      padding-top: 30px;
    }

    @include small {

    }
  }
  &--news {
    padding: 30px;

    .section--inner {
      ext-align: center;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
    }

    @include small {

    }
  }

  &--footer {
    background: $c-primary;
    padding: 10px;
    font-weight: 400;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .section--inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.section--inner {
  display: flex;
  //max-width: $site-width;
  margin: 0 auto;

  @include small {
    padding: 10px;
  }
}