<!doctype html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />
          <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
          <meta name="google-site-verification" content="_YX5DAPIU9mn3prOBMbgZzR19__bqptkeRpF1GaQ-u8" />
          <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no"
          />

          <meta property="og:title" content="Tensta kvinno- och tjejjour"/>
          <meta property="og:image" content="http://www.tenstakvinnojour.se/images/tenstakvinnojourlogga.png"/>
          <meta property="og:locale" content="sv_SE"/>
          <meta property="og:site_name" content="tenstakvinnojour.se"/>
          <meta property="og:description"
            content="
              Tensta Kvinno- och Tjejjour ger stöd och råd till kvinnor, tjejer, mammor och barn som är utsatta för våld och hot."/>
          <meta property="og:url" content="http://www.http://www.tenstakvinnojour.se.se" />

          <!-- <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:site" content="@samirfors" />
          <meta name="twitter:creator" content="@samirfors" /> -->
          <meta name="twitter:title" content="Tensta kvinno- och tjejjour" />
          <meta name="twitter:description"
            content="
              Tensta Kvinno- och Tjejjour ger stöd och råd till kvinnor, tjejer, mammor och barn som är utsatta för våld och hot." />
          <meta name="twitter:image" content="http://www.tenstakvinnojour.se/images/tenstakvinnojourlogga.png" />

          <title>Tensta Kvinno- och Tjejjour ger stöd och råd till kvinnor, tjejer, mammor och barn som är utsatta för våld och hot.</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/menu-height-scroll.js"></script>

  </head>
  <body>

    <header>
      <div class="section section--nav">
        <a href="/"><img class="logo" src="/images/tenstakvinnojourlogga.png")} /></a>
      </div>
      <div class="section section--nav">
        <nav class="main-nav">
          <ul>
            <li><a href="/#aktuellt">Aktuellt</a></li>
            <li><a href="/dolj_ditt_besok/">Dölj ditt besök?</a></li>
            <li><a href="http://www.google.se">Lämna sidan</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="page">
          <div class="section section--article">
            <div class="section--inner">
              <h1>{{ page.title }}</h1>
              <span>{{ page.date | date: '%B %d, %Y' }}</span>

              {{ content }}
              <div class="PageNavigation">
                {% if post.next.url %}
                  <a class="next" href="{{page.next.url}}">Nästa</a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="section section--footer">
        <div class="section--inner">
          <p class="center-text">copyright Tensta Kvinno- och Tjejjour</p>
          </div>
      </div>
    </footer>
  </body>
</html>